<%- include('header'); -%>
<body>
  <!-- page content -->
  <!-- THE NAV BAR WITH LOGIN -->
  <%- include('navBarHome'); -%>
  
  <!-- EJS CODE TO CREATE LIST OF TOPICS -->
  <%- include('indexBody'); -%>
  
</body>

</html>